body{
  overflow-x: hidden;
}
#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-areas:
  "header header header"
  ". main .";
  grid-template-rows: 3.75rem 1fr;
}
@media (min-width: 75rem){
  #root{
    grid-template-rows: 3.75rem 1fr;
    grid-template-columns: 1fr 75rem 1fr;
  }
}
